<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie List</title>
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
  <link rel="stylesheet"  th:href="@{/css/movie-list-style.css}">
  <link th:href="@{/css/footer-style.css}"  type="text/css" rel="stylesheet" />
  <link th:href="@{/css/header-style.css}"  type="text/css" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" th:href="@{/images/logo-proekta.png}">
</head>
<body>
<!--<div class="topnav">-->
<!--  <a class="active" href="#home">Home</a>-->
<!--  <a href="#about">About</a>-->
<!--  <a href="#contact">Contact</a>-->
<!--  <input type="text" placeholder="Search...">-->
<!--</div>-->
<!--<header>-->
<!--  <div class ="container2">-->
<!--    <div class="logo">-->
<!--      <a th:href="@{/}" class="logo-container">-->
<!--        <img th:src="@{/images/logo-proekta.png}" alt="Site Logo">-->
<!--        <span class = "logo-text">FFMovies</span>-->
<!--      </a>-->
<!--    </div>-->
<!--    <div class="search">-->
<!--      <form>-->
<!--        <select>-->
<!--          <option value="titles">Titles</option>-->
<!--          <option value="celebs">Celebs</option>-->
<!--          <option value="companies">Companies</option>-->
<!--          <option value="keywords">Keywords</option>-->
<!--        </select>-->
<!--        <input type="text" placeholder="Search titles, celebs, and more">-->
<!--        <button type="submit">Search</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</header>-->
<div th:replace="fragments/header :: header"></div>
<div class="page-title">
  <h1>Movie List</h1>
</div>
<div class="container movie-container">
  <div class="movie-list">
    <div class="movie-card" th:each="movie : ${movies}">
      <div class="poster">
        <img th:src="@{${movie.poster}}" alt="movie poster"/>
      </div>
      <div class="details">
        <h2 class="movie-title" th:text="${movie.title}">Movie Title</h2>
        <p class="movie-info"><strong>Genre:</strong> <span th:text="${movie.genre}">Action, Adventure, Sci-Fi</span></p>
        <p class="movie-info"><strong>Director:</strong> <span th:text="${movie.director}">Director Name</span></p>
        <p class="movie-info"><strong>Stars:</strong> <span th:text="${movie.actors}">Actor Name 1, Actor Name 2, Actor Name 3</span></p>
        <p class="movie-info"><strong>Release year:</strong> <span th:text="${movie.year}">2021</span></p>
        <p class="movie-info"><strong>Length:</strong> <span th:text="${movie.length}">120 min</span></p>
        <p class="movie-description"><strong>Description:</strong> <span th:text="${movie.description}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam.</span></p>
      </div>
    </div>
  </div>
</div>
<div th:replace="fragments/footer :: footer">
  <link th:href="@{/css/footer-style.css}" rel="stylesheet" />
</div>
</body>
</html>
